/* MBO Partners Website Refresh March-2024 style here  */
:root {
  --color-primary-100: #f5f3f7;
  --color-primary-200: #eae9f2;
  --color-primary-300: #a199c2;
  --color-primary-400: #6855b4;
  --color-primary-500: #483981;
  --color-primary-600: #352281;
  --color-primary-700: #211551;
  --color-primary-800: #22135e;
  --color-primary-900: #150b3b;

  --color-primary-tint-100: rgba(161, 153, 194, 0.1019607843);
  --color-primary-tint-200: rgba(161, 153, 194, 0.1490196078);
  --color-primary-tint-500: rgba(161, 153, 194, 0.5019607843);
  --color-primary-tint-600: #5e38ba;
  --color-secondary-100: #d5f7ff;
  --color-secondary-200: #00b7e0;
  --color-secondary-300: #0095b8;
  --color-secondary-400: #007f9c;
  --color-secondary-500: #07677d;
  --color-secondary-600: #00576b;
  --color-secondary-700: #044655;
  --color-secondary-tint-200: rgba(213, 247, 255, 0.2);
  --color-secondary-tint-500: rgba(213, 247, 255, 0.5019607843);

  --color-action-100: #d6e3ff;
  --color-action-200: #6697ff;
  --color-action-300: #3270eb;
  --color-action-400: #1559ea;
  --color-action-500: #1350d3;
  --color-action-600: #1046b8;
  --color-action-700: #0b3ba4;

  --color-border-default: #a199c226;
  --color-success-100: #bae3cd;
  --color-success-200: #1ed773;
  --color-success-400: #38c08f; /* added manually  */
  --color-success-500: #008c40;
  --color-success-900: #026931;
  --color-attention-100: #f4d3bf;
  --color-attention-500: #f37026;
  --color-attention-900: #d9550a;
  --color-error-100: #fbeded;
  --color-error-500: #ca313e;
  --color-error-900: #b41320;
  --color-neutrals-100: #f3f3f4;
  --color-neutrals-200: #b8b3bc;
  --color-neutrals-300: rgba(6, 24, 62, 0.5019607843);
  --color-neutrals-400: #575463;
  --color-neutrals-500: rgba(16, 10, 39, 0.7490196078);
  --color-neutrals-900: #100a27;
  --color-neutrals-white-150: rgba(255, 255, 255, 0.1490196078);
  --color-neutrals-white-300: rgba(255, 255, 255, 0.3019607843);
  --color-neutrals-white-600: rgba(255, 255, 255, 0.6);
  --color-neutrals-white-850: rgba(255, 255, 255, 0.8509803922);
  --color-neutrals-white-900: #ffffff;
  --color-white: #ffffff;
  --color-transparent: transparent;

  /* Custom added  */
  --ff-roboto: "Roboto", sans-serif;
  --ff-museo300: "Museo Slab 300", sans-serif;
  --ff-museo500: "Museo Slab 500", sans-serif;

  /* local scope variables */

  --_ff-display300: var(--ff-museo300);
  --_ff-display500: var(--ff-museo500);
  --_ff-body: var(--ff-roboto);

  /* heading variant variable */
  --_text-primary: var(--color-primary-600);
  --_text-secondary: var(--color-secondary-600);
  --_text-action: var(--color-action-600);
  --_text-white: var(--color-white);
  --_text-success: var(--color-success-900);
  --_text-attention: var(--color-attention-900);
  --_text-error: var(--color-error-900);
  --_text-light: var(--color-neutrals-400);
  --_text-dark: var(--color-neutrals-900);

  /* Link variables */

  --_link-color: var(--color-primary-600);
  --_link-color-hover: var(--color-primary-400);
  --_link-color-white: var(--color-white);

  /* Button variables */
  --_btn-radius: var(4px);
  --_btn-color-white: var(--color-white);
  --_btn-bg-transparent: transparent;
  --_btn-padding-lg: 8px 16px;
  --_btn-padding-md: 8px 12px;
  --_btn-padding-sm: 4px 12px;
  /* default variable */
  --_btn-bg-default: var(--_btn-bg-transparent);
  --_btn-bg-default-hover: var(--color-primary-200);
  --_btn-bg-default-active: transparent;
  --_btn-color-default: var(--color-primary-600);
  --_btn-color-default-hover: var(--color-primary-400);
  --_btn-color-default-active: var(--color-primary-800);

  /* back btn variables */

  --_btn-color-back: var(--color-primary-600);
  --_btn-color-back-hover: var(--color-primary-400);
  --_btn-color-back-active: var(--color-primary-800);

  /* back_inverted btn variables */

  --_btn-color-back-inverted: var(--color-white);
  --_btn-color-back-inverted-hover: var(--color-white);
  --_btn-color-back-inverted-active: var(--color-white);

  /* btn__inverted */

  --_btn-bg-inverted: var(--_btn-bg-default);
  --_btn-color-inverted: var(--color-white);
  --_btn-inverted-outline-hover: var(--color-white);
  /* action varaible */

  --_btn-bg-action: var(--color-action-400);
  --_btn-bg-action-hover: var(--color-action-300);
  --_btn-bg-action-active: var(--color-action-600);

  --_btn-color-action-hover: var(--color-white);
  --_btn-color-action-active: var(--color-white);
}

/* Museo Slab font style */
@font-face {
  font-family: "Museo Slab 300";
  src: url("https://static.mbopartners.com/portal/fonts/MuseoSlab-300.woff2")
      format("woff2"),
    url("https://static.mbopartners.com/portal/fonts/MuseoSlab-300.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Slab 500";
  src: url("https://static.mbopartners.com/portal/fonts/MuseoSlab-500.woff2")
      format("woff2"),
    url("https://static.mbopartners.com/portal/fonts/MuseoSlab-500.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Museo Slab font style end */

/* Heading style for dispaly */
.display {
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--_ff-display500);
  }
  :is(.h1 .fl-heading-text) {
    font-size: 56px;
  }
}
/* Heading style for dispaly end */
/* Heading & body text color variant style */
.primary {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-primary);
  }
}
.secondary {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-secondary);
  }
}
.action {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-action);
  }
}
.white {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-white);
  }
}
.light {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-light);
  }
}
.dark {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-dark);
  }
}
.success {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-success);
  }
}
.attention {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-attention);
  }
}
.error {
  :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--_text-error);
  }
}
/* heading color variant style end */

/* Link style here */
/* ::TODO need to discuss how we can handle the links  */
.fl-module-content .fl-rich-text a {
  color: var(--_link-color);
  text-decoration: var(--_link-text-decoration, none) !important;
  text-underline-offset: 4px;
}
/* white link text area  */
.white .fl-module-content .fl-rich-text a {
  --_link-color: var(--_link-color-white);
}
.white .fl-module-content .fl-rich-text a:hover {
  --_link-color: var(--_link-color-white);
}

/* ::TODO need to discuss how we can handle the links  */
.fl-module-content .fl-rich-text a:hover {
  --_link-text-decoration: none;
  --_link-color: var(--_link-color-hover);
}
.fl-module-content .fl-rich-text a.white {
  --_link-color: var(--_link-color-white);
}
.fl-module-content .fl-rich-text a.white:hover {
  --_link-color: var(--_link-color-white);
}
/* Link style end here */

/* Button style here */
/* btn genral style */
.fl-page a.fl-button {
  border-radius: var(--_btn-radius);
  padding: var(--_btn-padding, 16px 24px);
  font-size: var(--_btn-fs, 18px) !important;
  border-radius: var(--_btn-radius, 4px);
  color: var(--_btn-color, var(--color-white));
}
/* btn genral style end */
/* btn size style */
.fl-page .lg a.fl-button {
  --_btn-padding: var(--_btn-padding-lg);
  --_btn-fs: 16px;
}
.fl-page .md a.fl-button {
  --_btn-padding: var(--_btn-padding-md);
  --_btn-fs: 12px;
}
.fl-page .sm a.fl-button {
  --_btn-padding: var(--_btn-padding-sm);
  --_btn-fs: 12px;
}
/* btn common style  */
.fl-page
  :where(.btn__action, .btn__primary, .btn__inverted .btn__back_inverted)
  a.fl-button
  * {
  /* --_btn-color: var(--_btn-color-white) !important; */
  color: var(--_btn-color-white) !important;
  font-size: inherit;
}
.fl-page :where(.btn__default, .btn__back) a.fl-button * {
  color: var(--_btn-color-default) !important;
}
/* btn common style end  */
/* button default variant */
.fl-page .btn__default a.fl-button {
  background-color: var(--_btn-bg-default) !important;
  color: var(--_btn-color-default) !important;
}

.fl-page .btn__default a.fl-button:hover {
  --_btn-bg-default: var(--_btn-bg-default-hover);
  --_btn-color-default: var(--_btn-color-default-hover);
}
.fl-page .btn__default a.fl-button:is(:active, :focus) {
  --_btn-bg-default: var(--_btn-bg-default-active);
  --_btn-color-default: var(--_btn-color-default-active);
}
/* button default variant end */

/* button back variant */
.fl-page .btn__back a.fl-button {
  background-color: var(--_btn-bg-transparent) !important;
  color: var(--_btn-color-back) !important;
}

.fl-page .btn__back a.fl-button:hover {
  --_btn-color-back: var(--_btn-color-back-hover);
}
.fl-page .btn__back a.fl-button:is(:active, :focus) {
  --_btn-color-back: var(--_btn-color-back-active);
}
/* button back variant end */
/* btn__back_inverted */
.fl-page .btn__back_inverted a.fl-button {
  background-color: var(--_btn-bg-default) !important;
  color: var(--_btn-color-back-inverted) !important;
}

.fl-page .btn__back_inverted a.fl-button:hover {
  --_btn-bg-default: var(--_btn-bg-default);
  --_btn-color-back-inverted: var(--_btn-color-back-inverted-hover) !important;
}
.fl-page .btn__back_inverted a.fl-button:is(:active, :focus) {
  --_btn-color-back-inverted: var(--_btn-color-back-inverted-active);
}
/* btn__back_inverted end */

/* btn__inverted */
.fl-page .btn__inverted a.fl-button {
  background-color: var(--_btn-bg-default) !important;
  color: var(--_btn-color-inverted) !important;
  outline: 1px solid var(--_btn-outline-color, transparent);
}

.fl-page .btn__inverted a.fl-button:hover {
  --_btn-bg-default: var(--_btn-bg-default);
  --_btn-color: var(--_btn-color-inverted-hover);
  --_btn-outline-color: var(--_btn-inverted-outline-hover);
}
.fl-page .btn__inverted a.fl-button:is(:active, :focus) {
  --_btn-color: var(--_btn-color-inverted-active);
}
/* btn__inverted end */
/* primary variant */
.fl-page .btn__primary a.fl-button {
  background-color: var(--_btn-bg-primary) !important;
  color: var(--_btn-color-white) !important;
}

.fl-page .btn__primary a.fl-button:hover {
  --_btn-bg-primary: var(--_btn-bg-primary-hover);
  --_btn-color: var(--_btn-color-primary-hover);
}
.fl-page .btn__primary a.fl-button:is(:active, :focus) {
  --_btn-bg-primary: var(--_btn-bg-primary-active);
  --_btn-color: var(--_btn-color-primary-active);
}
/* primary variant end */

/* action variant */
.fl-page .btn__action a.fl-button {
  background-color: var(--_btn-bg-action) !important;
  color: var(--_btn-color-white) !important;
}

.fl-page .btn__action a.fl-button:hover {
  --_btn-bg-action: var(--_btn-bg-action-hover);
  --_btn-color: var(--_btn-color-action-hover);
}
.fl-page .btn__action a.fl-button:is(:active, :focus) {
  --_btn-bg-action: var(--_btn-bg-action-active);
  --_btn-color: var(--_btn-color-action-active);
}
/* action variant end */

/* Button style end here */

/* uabb-table style  */
.mbo_table {
  --_mbo-table-header-color: var(--color-white);
  --_uabb-table-features-bg: var(--color-white);
  --_mbo-table-header-bg: var(--color-secondary-400);
}
.mbo_table .uabb-table-header {
  --_mbo-table-border-color: var(--color-neutrals-white-300);
  background: var(--_mbo-table-header-bg);
  color: var(--_mbo-table-header-color);
}
.mbo_table .uabb-table-header th {
  position: relative;
  font-weight: normal;
  border: none !important;
}
.mbo_table .uabb-table-header label.head-inner-text {
  font-weight: normal;
}
.mbo_table .uabb-table-header th:not(:last-child) :before {
  content: "";
  top: 12px;
  bottom: 12px;
  right: 0;
  position: absolute;
  background: var(--_mbo-table-border-color);
  width: 1px;
}
.mbo_table .uabb-table-features {
  background: var(--_uabb-table-features-bg);
}
.mbo_table .uabb-table-features td {
  position: relative;
  border: none !important;
}
.mbo_table .uabb-table-features td:not(:last-child) :before {
  --_mbo-table-border-color: var(--color-border-default);
  content: "";
  top: 12px;
  bottom: 12px;
  right: 0;
  position: absolute;
  background: var(--_mbo-table-border-color);
  width: 1px;
}
.mbo_table .uabb-table-features td::after {
  --_mbo-table-border-color: #07677d40;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: var(--_mbo-table-border-color);
  height: 1px;
}
/* uabb-table style end here */

/* accordion style here */
.faq_accordion {
  --_accordion-label-color: var(--color-primary-600);
  --_accordion-arrow-up:url("/wp-content/uploads/2024/03/acordion_up_arrow.png");
  --_accordion-arrow-down:url("/wp-content/uploads/2024/03/accordion_down_arrow.png");
}
.faq_accordion .pp-accordion-button-label span {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: var(--_accordion-label-color);
  margin-right: 25px;
}
.faq_accordion .dashicons-arrow-up-alt2::before {
  content: var(--_accordion-arrow-up) !important;
}
.faq_accordion .dashicons-arrow-down-alt2:before {
  content: var(--_accordion-arrow-down) !important;
}
.faq_accordion
  .pp-accordion-item
  .pp-accordion-button-icon.pp-accordion-icon-right {
  margin-top: -45px !important;
}
.faq_accordion .pp-accordion-item {
  border-box: 0 !important;
}
.faq_accordion .pp-accordion-item .pp-accordion-content:before {
  position: relative;
  margin-left: -9px;
  margin-top: -54px;
  margin-bottom: 30px;
  width: 0;
  height: 0;
  border-bottom: 16px solid var(--color-white);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
.faq_accordion .pp-accordion-item .pp-accordion-content {
  padding-top: 38px;
}
.faq_accordion .pp-accordion-button-label {
  border-bottom: 0.5px solid var(--color-primary-300);
  padding-bottom: 30px;
}
.faq_accordion .pp-accordion-button-label:nth-last-child {
  border-bottom: 0px !important;
}

@media (width <= 768px) {
  .faq_accordion .pp-accordion-button-label {
    flex-wrap: inherit;
  }
  .faq_accordion .pp-accordion-button-label span {
    margin-right: 10px;
  }
}
/* accordion global styles ends here */

/* FAQ table designs */
.mbo_table_global {
  --_mbo-table-global-header-bg: var(--color-secondary-400);
  --_mbo-table-global-header-color: var(--color-white);
  --_mbo_table_global-body-bg: var(--color-white);
}
.mbo_table_global th {
  background: var(--_mbo-table-global-header-bg);
  color: var(--_mbo-table-global-header-color);
  padding: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.mbo_table_global td:not(:last-child),
.mbo_table_global th:not(:last-child) {
  position: relative;
}

.mbo_table_global td:not(:last-child)::after,
.mbo_table_global th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  border-right: 1px solid var(--color-border-default);
  bottom: 12px;
}

.mbo_table_global td ul {
  margin-left: -30px !important;
}
.mbo_table_global td {
  width: auto;
  padding: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  background: var(--_mbo_table_global-body-bg);
  box-shadow: 0px -2px 0px 0px #07677d40 inset;
  vertical-align: top;
}

/* global utilities  */
/* cluster style here */
.cluster {
  display: flex;
  flex-wrap: var(--cluster-wrap, wrap);
  gap: var(--gutter, 1rem);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
  /* ↓ multiply by -1 to negate the halved value */
}
/* <div class="cluster">
  <div>Item 1 cluster</div>
  <div>Item 2 cluster</div>
  <div>Item 3 cluster</div>
  </div> 
*/

.repel {
  display: flex;
  flex-wrap: var(--repel-wrap, wrap);
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, 1rem);
}
/*
<div class="repel">
  <div>Item 1 repels item 2</div>
  <div>Item 2 repels item 1</div>
  <div>Item 3 repels item 1</div>
</div>
*/


/* global utilities end here */
/* footer block links style */

/* Style for new social icon style */

.mbo_social {
  --_social-icon-gap: 0.5rem;
  --_social-link-padding: 0.25rem .5rem;
  --_social-link-bg: transparent;
  --_social-link-fill: var(--color-neutrals-400);
  --_social-icon-size: 1.75rem;
  --_social-link-gap: 0.25rem;
  --_social-link-color: var(--color-neutrals-400);
  /*--_social-link-border-color: rgb(32, 32, 32);*/
  --_social-icon-gap:1.5rem;
  --_social-link-fill-hover:var(--color-primary-400);
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  list-style: none !important;
  gap: var(--_social-icon-gap, 0.5rem);
  justify-content: var(--_social-link-alignment, start);
}
.mbo_social[data-align=center] {
  --_social-link-alignment:center;
}
.mbo_social[data-align=end] {
  --_social-link-alignment:flex-end;
}
@media (width < 36rem) {
  .mbo_social {
    --_social-link-indent:-1000px;
    --_social-link-gap:0;
  }
}
.mbo_social.footer {
  --_social-icon-gap: 0.5rem;
  --_social-link-padding: 0.125rem;
  --_social-link-color: var(--color-neutrals-400);
  --_social-link-color-hover: var(--color-primary-400);
  /*--_social-link-border-color: #fff;*/
}
@media (width > 48rem) {
  .mbo_social.footer {
    --_social-link-alignment:flex-end;
  }
}
.mbo_social svg {
  width: var(--_social-icon-size, 1.75rem);
  aspect-ratio: 1;
}
.mbo_social__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--_social-link-padding);
  gap: var(--_social-link-gap, 0.25rem);
  text-indent: var(--_social-link-indent);
  font-size: 1rem;
  width: auto;
  background: var(--_social-link-bg, transparent);
  color: var(--_social-link-color) !important;
  fill: var(--_social-link-color);
}
.mbo_social__link:is(:hover) {
  --_social-link-color:var(--_social-link-color-hover);
}
/* social link style end  */
.footer_links {
  --_footer-link-color:var(--color-neutrals-400);
  --_footer-link-color-hover: var(--color-primary-400);
}
.footer_links :is(a, .uabb-modal-action) {
  text-decoration: var(--_footer-link-decoration) !important;
  text-underline-offset: 3px;
  color: var(--_footer-link-color);
}
.footer_links :is(a, .uabb-modal-action):hover {
  --_footer-link-color:var(--_footer-link-color-hover);
  --_footer-link-decoration:underline;
}
.footer_links :is(.cookie_prefrences) {
  font-size: 12px;
}
@media (width > 768px) {
.footer_links :is(.cookie_prefrences) {
  text-align: end;
}
}
/* footer links style */
/* MBO Partners Website Refresh March-2024 style here end */
