@charset "UTF-8";
@import url("https://static.mbopartners.com/portal/colors/tokens-29_06_2023-v1.css");
:root {
  /* local scopped variables */
  --_ff-display300: var(--ff-museo300);
  --_ff-display500: var(--ff-museo500);
  --_ff-body: var(--ff-roboto);
}

.cluster {
  display: flex;
  flex-wrap: var(--cluster-wrap, wrap);
  gap: var(--gutter, clamp(1.375rem, 1.2rem + 0.89vw, 1rem));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
  /* ↓ multiply by -1 to negate the halved value */
}

/*
<div class="cluster">
  <div>Item 1</div>
  <div>Item 2</div>
  <div>Item 3</div>
  <div>Item 4</div>
  <div>Item 5</div>
  <div>Item 6</div>
  <div>Item 7</div>
  <div>Item 8</div>
</div>
*/
.column-1 {
  column-count: 1;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-2 {
  column-count: 2;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-3 {
  column-count: 3;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-4 {
  column-count: 4;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-5 {
  column-count: 5;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-6 {
  column-count: 6;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-7 {
  column-count: 7;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-8 {
  column-count: 8;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-9 {
  column-count: 9;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-10 {
  column-count: 10;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-11 {
  column-count: 11;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.column-12 {
  column-count: 12;
  column-gap: var(--column-gap, 1rem);
  width: var(--column-width, fit-content);
}

.reel {
  display: flex;
  height: auto;
  max-width: 100%;
  margin-inline: var(--reel-margin-inline, auto);
  padding: var(--reel-padding, 0.5rem);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.reel-item-width-auto {
  --reel-item-width: auto;
}
.reel-space-0 {
  --reel-space: 0;
}
.reel > * {
  flex-basis: var(--reel-item-width, calc(33.333% - var(--reel-space, 1.25rem)));
  flex-shrink: 0;
}
.reel > * + * {
  margin-inline-start: var(--reel-space, 1.25rem);
}
.reel.scrollbar {
  padding-block-end: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
}
.reel[data-scroll=snap] {
  scroll-snap-type: x mandatory;
}
.reel[data-scroll=snap] > * {
  scroll-snap-align: start;
}

/*
<h2>Reel with scrollbar</h2> 
<div class="reel scrollbar">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>


<h2>Reel with snap</h2> 
<div class="reel" data-scroll='snap'>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
*/
.repel {
  display: flex;
  flex-wrap: var(--repel-wrap, wrap);
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, clamp(1.375rem, 1.2rem + 0.89vw, 1rem));
}

/*
<div class="repel">
  <div>Item 1 repels item 2</div>
  <div>Item 2 repels item 1</div>
  <div>Item 3 repels item 1</div>
</div>
*/
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-grow {
  flex-grow: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-fill {
  flex: 1 1 auto;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-start:is(.cluster) {
  --cluster-horizontal-alignment: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-end:is(.cluster) {
  --cluster-horizontal-alignment: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-center:is(.cluster) {
  --cluster-horizontal-alignment: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-between:is(.cluster) {
  --cluster-horizontal-alignment: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-around:is(.cluster) {
  --cluster-horizontal-alignment: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-evenly:is(.cluster) {
  --cluster-horizontal-alignment: space-evenly;
}
.justify-items-start {
  justify-items: flex-start;
}
.justify-items-end {
  justify-items: flex-end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}
.justify-self-auto {
  justify-self: auto;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-stretch {
  justify-self: stretch;
}

.align-content-center {
  align-content: center;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-evenly {
  align-content: space-evenly;
}
.align-content-baseline {
  align-content: space-evenly;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-start:is(.repel, .cluster) {
  --cluster-vertical-alignment: flex-start;
  --repel-vertical-alignment: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-end:is(.repel, .cluster) {
  --cluster-vertical-alignment: flex-end;
  --repel-vertical-alignment: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-center:is(.repel, .cluster) {
  --cluster-vertical-alignment: center;
  --repel-vertical-alignment: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-baseline:is(.repel, .cluster) {
  --cluster-vertical-alignment: baseline;
  --repel-vertical-alignment: baseline;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-stretch:is(.repel, .cluster) {
  --cluster-vertical-alignment: stretch;
  --repel-vertical-alignment: stretch;
}
.align-self-auto {
  align-self: auto;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-stretch {
  align-self: stretch;
}

.place-content-start {
  place-content: flex-start;
}
.place-content-end {
  place-content: flex-end;
}
.place-content-center {
  place-content: center;
}
.place-content-between {
  place-content: space-between;
}
.place-content-around {
  place-content: space-around;
}
.place-content-evenly {
  place-content: space-evenly;
}
.place-content-baseline {
  place-content: baseline;
}
.place-content-stretch {
  place-content: stretch;
}
.place-items-start {
  place-items: flex-start;
}
.place-items-end {
  place-items: flex-end;
}
.place-items-center {
  place-items: center;
}
.place-items-baseline {
  place-items: baseline;
}
.place-items-stretch {
  place-items: stretch;
}
.place-self-auto {
  place-self: auto;
}
.place-self-start {
  place-self: flex-start;
}
.place-self-end {
  place-self: flex-end;
}
.place-self-center {
  place-self: center;
}
.place-self-stretch {
  place-self: stretch;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flow > :where(:not(:first-child)) {
  margin-block-start: var(--flow-space, 1em);
}

/* accordion style here */
.faq_accordion {
  --_accordion-label-color: var(--color-primary-600);
  --_accordion-arrow-up:url("/wp-content/uploads/2024/03/acordion_up_arrow.png");
  --_accordion-arrow-down:url("/wp-content/uploads/2024/03/accordion_down_arrow.png");
}
.faq_accordion .pp-accordion-button-label {
  border-bottom: 0.5px solid var(--color-primary-300);
  padding-bottom: 30px;
}
.faq_accordion .pp-accordion-button-label span {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: var(--_accordion-label-color);
  margin-right: 25px;
}
@media (width <= 768px) {
  .faq_accordion .pp-accordion-button-label span {
    margin-right: 10px;
  }
}
.faq_accordion .pp-accordion-button-label:nth-last-child {
  border-bottom: 0px;
}
@media (width <= 768px) {
  .faq_accordion .pp-accordion-button-label {
    flex-wrap: inherit;
  }
}
.faq_accordion .dashicons-arrow-up-alt2::before {
  content: var(--_accordion-arrow-up);
}
.faq_accordion .dashicons-arrow-down-alt2:before {
  content: var(--_accordion-arrow-down);
}
.faq_accordion .pp-accordion-item {
  border-box: 0;
}
.faq_accordion .pp-accordion-item .pp-accordion-button-icon.pp-accordion-icon-right {
  margin-top: -45px;
}
.faq_accordion .pp-accordion-item .pp-accordion-content {
  padding-top: 38px;
}
.faq_accordion .pp-accordion-item .pp-accordion-content:before {
  position: relative;
  margin-left: -9px;
  margin-top: -54px;
  margin-bottom: 30px;
  width: 0;
  height: 0;
  border-bottom: 16px solid var(--color-white);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

/* accordion global styles ends here */
:root {
  /* Link variables */
  --_link-color: var(--color-primary-600);
  --_link-color-hover: var(--color-primary-400);
  --_link-color-white: var(--color-white);
  /* Button variables */
  --_btn-radius: var(4px);
  --_btn-color-white: var(--color-white);
  --_btn-bg-transparent: transparent;
  --_btn-padding-lg: 8px 16px;
  --_btn-padding-md: 8px 12px;
  --_btn-padding-sm: 4px 12px;
  /* default variable */
  --_btn-bg-default: var(--_btn-bg-transparent);
  --_btn-bg-default-hover: var(--color-primary-200);
  --_btn-bg-default-active: transparent;
  --_btn-color-default: var(--color-primary-600);
  --_btn-color-default-hover: var(--color-primary-400);
  --_btn-color-default-active: var(--color-primary-800);
  /* back btn variables */
  --_btn-color-back: var(--color-primary-600);
  --_btn-color-back-hover: var(--color-primary-400);
  --_btn-color-back-active: var(--color-primary-800);
  /* back_inverted btn variables */
  --_btn-color-back-inverted: var(--color-white);
  --_btn-color-back-inverted-hover: var(--color-white);
  --_btn-color-back-inverted-active: var(--color-white);
  /* btn__inverted */
  --_btn-bg-inverted: var(--_btn-bg-default);
  --_btn-color-inverted: var(--color-white);
  --_btn-inverted-outline-hover: var(--color-white);
  /* action varaible */
  --_btn-bg-action: var(--color-action-400);
  --_btn-bg-action-hover: var(--color-action-300);
  --_btn-bg-action-active: var(--color-action-600);
  --_btn-color-action-hover: var(--color-white);
  --_btn-color-action-active: var(--color-white);
}

/* Link style here */
.fl-module-content .fl-rich-text a {
  color: var(--_link-color);
  text-decoration: var(--_link-text-decoration, none);
  text-underline-offset: 4px;
}
.fl-module-content .fl-rich-text a:hover {
  --_link-text-decoration: none;
  --_link-color: var(--_link-color-hover);
}
.fl-module-content .fl-rich-text a.white {
  --_link-color: var(--_link-color-white);
  --_link-text-decoration: underline;
}
.fl-module-content .fl-rich-text a.white:hover {
  --_link-color: var(--_link-color-white);
}

/* white link text area  */
.white .fl-module-content .fl-rich-text a {
  --_link-color: var(--_link-color-white);
  --_link-text-decoration: underline;
}
.white .fl-module-content .fl-rich-text a:hover {
  --_link-color: var(--_link-color-white);
}

/* Link style end here */
/* Button style here */
/* btn genral style */
.fl-page {
  /* button default variant */
  /* button default variant end */
  /* button back variant */
  /* button back variant end */
  /* btn__back_inverted */
  /* btn__back_inverted end */
  /* btn__inverted */
  /* btn__inverted */
  /* btn__inverted end */
  /* primary variant */
  /* primary variant end */
  /* action variant */
  /* action variant end */
}
.fl-page a.fl-button {
  border-radius: var(--_btn-radius);
  padding: var(--_btn-padding, 16px 24px);
  font-size: var(--_btn-fs, 18px);
  border-radius: var(--_btn-radius, 4px);
  color: var(--_btn-color, var(--color-white));
}
.fl-page .lg a.fl-button {
  --_btn-padding: var(--_btn-padding-lg);
  --_btn-fs: 16px;
}
.fl-page .md a.fl-button {
  --_btn-padding: var(--_btn-padding-md);
  --_btn-fs: 12px;
}
.fl-page .sm a.fl-button {
  --_btn-padding: var(--_btn-padding-sm);
  --_btn-fs: 12px;
}
.fl-page :where(.btn__action, .btn__primary, .btn__inverted .btn__back_inverted) a.fl-button * {
  /* --_btn-color: var(--_btn-color-white); */
  color: var(--_btn-color-white);
  font-size: inherit;
}
.fl-page :where(.btn__default, .btn__back) a.fl-button * {
  color: var(--_btn-color-default);
}
.fl-page .btn__default a.fl-button {
  background-color: var(--_btn-bg-default);
  color: var(--_btn-color-default);
}
.fl-page .btn__default a.fl-button:hover {
  --_btn-bg-default: var(--_btn-bg-default-hover);
  --_btn-color-default: var(--_btn-color-default-hover);
}
.fl-page .btn__default a.fl-button:is(:active, :focus) {
  --_btn-bg-default: var(--_btn-bg-default-active);
  --_btn-color-default: var(--_btn-color-default-active);
}
.fl-page .btn__back a.fl-button {
  background-color: var(--_btn-bg-transparent);
  color: var(--_btn-color-back);
}
.fl-page .btn__back a.fl-button:hover {
  --_btn-color-back: var(--_btn-color-back-hover);
}
.fl-page .btn__back a.fl-button:is(:active, :focus) {
  --_btn-color-back: var(--_btn-color-back-active);
}
.fl-page .btn__back_inverted a.fl-button {
  background-color: var(--_btn-bg-default);
  color: var(--_btn-color-back-inverted);
}
.fl-page .btn__back_inverted a.fl-button:hover {
  --_btn-bg-default: var(--_btn-bg-default);
  --_btn-color-back-inverted: var(
    --_btn-color-back-inverted-hover
  );
}
.fl-page .btn__back_inverted a.fl-button:is(:active, :focus) {
  --_btn-color-back-inverted: var(--_btn-color-back-inverted-active);
}
.fl-page .btn__inverted a.fl-button {
  background-color: var(--_btn-bg-default);
  color: var(--_btn-color-inverted);
  outline: 1px solid var(--_btn-outline-color, transparent);
}
.fl-page .btn__inverted a.fl-button:hover {
  --_btn-bg-default: var(--_btn-bg-default);
  --_btn-color: var(--_btn-color-inverted-hover);
  --_btn-outline-color: var(--_btn-inverted-outline-hover);
}
.fl-page .btn__inverted a.fl-button:is(:active, :focus) {
  --_btn-color: var(--_btn-color-inverted-active);
}
.fl-page .btn__primary a.fl-button {
  background-color: var(--_btn-bg-primary);
  color: var(--_btn-color-white);
}
.fl-page .btn__primary a.fl-button:hover {
  --_btn-bg-primary: var(--_btn-bg-primary-hover);
  --_btn-color: var(--_btn-color-primary-hover);
}
.fl-page .btn__primary a.fl-button:is(:active, :focus) {
  --_btn-bg-primary: var(--_btn-bg-primary-active);
  --_btn-color: var(--_btn-color-primary-active);
}
.fl-page .btn__action a.fl-button {
  background-color: var(--_btn-bg-action);
  color: var(--_btn-color-white);
}
.fl-page .btn__action a.fl-button:hover {
  --_btn-bg-action: var(--_btn-bg-action-hover);
  --_btn-color: var(--_btn-color-action-hover);
}
.fl-page .btn__action a.fl-button:is(:active, :focus) {
  --_btn-bg-action: var(--_btn-bg-action-active);
  --_btn-color: var(--_btn-color-action-active);
}

.footer_links {
  --_footer-link-color: var(--color-neutrals-400);
  --_footer-link-color-hover: var(--color-primary-400);
}
.footer_links :is(a, .uabb-modal-action) {
  text-decoration: var(--_footer-link-decoration);
  text-underline-offset: 3px;
  color: var(--_footer-link-color);
}
.footer_links :is(a, .uabb-modal-action):hover {
  --_footer-link-color: var(--_footer-link-color-hover);
}
.footer_links :is(.cookie_prefrences) {
  font-size: 12px;
}
@media (width > 768px) {
  .footer_links :is(.cookie_prefrences) {
    text-align: end;
  }
}

/* footer links style */
:root {
  /* heading variant variable */
  --_text-primary: var(--color-primary-600);
  --_text-secondary: var(--color-secondary-600);
  --_text-action: var(--color-action-600);
  --_text-white: var(--color-white);
  --_text-success: var(--color-success-900);
  --_text-attention: var(--color-attention-900);
  --_text-error: var(--color-error-900);
  --_text-light: var(--color-neutrals-400);
  --_text-dark: var(--color-neutrals-900);
} /* Heading style for dispaly */
.display :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--_ff-display500);
}
.display :is(.h1 .fl-heading-text) {
  font-size: 56px;
}

/* Heading style for dispaly end */
/* Heading & body text color variant style */
.primary :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-primary);
}

.secondary :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-secondary);
}

.action :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-action);
}

.white :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-white);
}

.light :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-light);
}

.dark :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-dark);
}

.success :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-success);
}

.attention :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-attention);
}

.error :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--_text-error);
}

/* heading color variant style end */
/* FAQ table designs style */
.mbo_table_global {
  --_mbo-table-global-header-bg: var(--color-secondary-400);
  --_mbo-table-global-header-color: var(--color-white);
  --_mbo_table_global-body-bg: var(--color-white);
}
.mbo_table_global th {
  background: var(--_mbo-table-global-header-bg);
  color: var(--_mbo-table-global-header-color);
  padding: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.mbo_table_global td:not(:last-child),
.mbo_table_global th:not(:last-child) {
  position: relative;
}
.mbo_table_global td:not(:last-child)::after,
.mbo_table_global th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  border-right: 1px solid var(--color-border-default);
  bottom: 12px;
}
.mbo_table_global td {
  width: auto;
  padding: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  background: var(--_mbo_table_global-body-bg);
  box-shadow: 0px -2px 0px 0px rgba(7, 103, 125, 0.2509803922) inset;
  vertical-align: top;
}
.mbo_table_global td ul {
  margin-left: -30px;
}

/* FAQ table designs style end */
/* uabb-table style  */
.mbo_table {
  --_mbo-table-header-color: var(--color-white);
  --_uabb-table-features-bg: var(--color-white);
  --_mbo-table-header-bg: var(--color-secondary-400);
}
.mbo_table .uabb-table-header {
  --_mbo-table-border-color: var(--color-neutrals-white-300);
  background: var(--_mbo-table-header-bg);
  color: var(--_mbo-table-header-color);
}
.mbo_table .uabb-table-header label.head-inner-text {
  font-weight: normal;
}
.mbo_table .uabb-table-header th {
  position: relative;
  font-weight: normal;
  border: none;
}
.mbo_table .uabb-table-header th:not(:last-child) :before {
  content: "";
  top: 12px;
  bottom: 12px;
  right: 0;
  position: absolute;
  background: var(--_mbo-table-border-color);
  width: 1px;
}
.mbo_table .uabb-table-features {
  background: var(--_uabb-table-features-bg);
}
.mbo_table .uabb-table-features td {
  position: relative;
  border: none;
}
.mbo_table .uabb-table-features td:not(:last-child) :before {
  --_mbo-table-border-color: var(--color-border-default);
  content: "";
  top: 12px;
  bottom: 12px;
  right: 0;
  position: absolute;
  background: var(--_mbo-table-border-color);
  width: 1px;
}
.mbo_table .uabb-table-features td:after {
  --_mbo-table-border-color: #07677d40;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: var(--_mbo-table-border-color);
  height: 1px;
}

/* uabb-table style end here */
/* Style for new social icon style */
.mbo_social {
  --_social-icon-gap: 0.5rem;
  --_social-link-padding: 0.25rem 0.5rem;
  --_social-link-bg: transparent;
  --_social-link-fill: var(--color-neutrals-400);
  --_social-icon-size: 1.75rem;
  --_social-link-gap: 0.25rem;
  --_social-link-color: var(--color-neutrals-400);
  --_social-icon-gap: 1.5rem;
  --_social-link-fill-hover: var(--color-primary-400);
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: var(--_social-icon-gap, 0.5rem);
  justify-content: var(--_social-link-alignment, start);
}
@media (width < 36rem) {
  .mbo_social {
    --_social-link-indent: -1000px;
    --_social-link-gap: 0;
  }
}
.mbo_social[data-align=center] {
  --_social-link-alignment: center;
}
.mbo_social[data-align=end] {
  --_social-link-alignment: flex-end;
}
.mbo_social svg {
  width: var(--_social-icon-size, 1.75rem);
  aspect-ratio: 1;
}
.mbo_social__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--_social-link-padding);
  gap: var(--_social-link-gap, 0.25rem);
  text-indent: var(--_social-link-indent);
  font-size: 1rem;
  width: auto;
  background: var(--_social-link-bg, transparent);
  color: var(--_social-link-color);
  fill: var(--_social-link-color);
}
.mbo_social__link:is(:hover) {
  --_social-link-color: var(--_social-link-color-hover);
}
.mbo_social.footer {
  --_social-icon-gap: 0.5rem;
  --_social-link-padding: 0.125rem;
  --_social-link-color: var(--color-neutrals-400);
  --_social-link-color-hover: var(--color-primary-400);
}
@media (width > 48rem) {
  .mbo_social.footer {
    --_social-link-alignment: flex-end;
  }
}

/* social link style end  */
@font-face {
  font-family: "Museo Slab 300";
  src: url("https://static.mbopartners.com/portal/fonts/MuseoSlab-300.woff2") format("woff2"), url("https://static.mbopartners.com/portal/fonts/MuseoSlab-300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Slab 500";
  src: url("https://static.mbopartners.com/portal/fonts/MuseoSlab-500.woff2") format("woff2"), url("https://static.mbopartners.com/portal/fonts/MuseoSlab-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*:TODO  Need to grab the these custom props from design system */

/*# sourceMappingURL=style.css.map */
